In [1]:
my_list = [-6, -4, -2, 1, 4, 7]
s_li = sorted(my_list)
print(s_li)

[-6, -4, -2, 1, 4, 7]

In [2]:
s_li = sorted(my_list, key=abs)
print(s_li)

[1, -2, -4, 4, -6, 7]

In [8]:
class Employee(object):
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def __repr__(self):
        return '({},{},${})'.format(self.name, self.age, self.salary)
    
e1 = Employee('Carl', 37, 70000)
e2 = Employee('Ravi', 24, 45000)
e3 = Employee('Sonu', 25, 30000)

employees = [e1, e2, e3]

In [9]:
print (employees)

[(Carl,37,$70000), (Ravi,24,$45000), (Sonu,25,$30000)]

In [10]:
sorted(employees)

TypeError: '<' not supported between instances of 'Employee' and 'Employee'

In [12]:
class Employee(object):
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def __repr__(self):
        return '({},{},${})'.format(self.name, self.age, self.salary)
    
e1 = Employee('Carl', 37, 70000)
e2 = Employee('Ravi', 24, 45000)
e3 = Employee('Sonu', 25, 30000)

employees = [e1, e2, e3]

def e_sort(emp):
    return emp.age # name, age, salary

s_list = sorted(employees, key=e_sort)
print(s_list)

[(Ravi,24,$45000), (Sonu,25,$30000), (Carl,37,$70000)]

In [14]:
class Employee(object):
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def __repr__(self):
        return '({},{},${})'.format(self.name, self.age, self.salary)
    
e1 = Employee('Carl', 37, 70000)
e2 = Employee('Ravi', 24, 45000)
e3 = Employee('Sonu', 25, 30000)

employees = [e1, e2, e3]

s_list = sorted(employees, key=lambda e: e.age)
print(s_list)

[(Ravi,24,$45000), (Sonu,25,$30000), (Carl,37,$70000)]